<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/common-meta') %>
    <title>Package #<%= pkg.getTrackingNumber() %></title>
  </head>
  <body>
    <main>
      <%- include('partials/header') %>
      <nav>
        <% if (pkg.getStatus() === 'Delivered') { %>
        <form method="POST" action="#">
          <button type="button" class="disabled" disabled>
            Move Status Forward
          </button>
        </form>
        <% } else { %>
        <form
          method="POST"
          action="/package/<%= pkg.getTrackingNumber() %>/update"
        >
          <button type="submit" class="update">Move Status Forward</button>
        </form>
        <% } %>
        <form
          method="POST"
          action="/package/<%= pkg.getTrackingNumber() %>/delete"
        >
          <button type="submit" class="delete">Delete Package</button>
        </form>
      </nav>

      <h2>Package Details</h2>

      <h3>General Information</h3>
      <table class="package-details">
        <tr>
          <th>Tracking Number</th>
          <td><%= pkg.getTrackingNumber() %></td>
        </tr>
        <tr>
          <th>Shipping Method</th>
          <td><%= pkg.getShippingMethod() %></td>
        </tr>
        <tr>
          <th>Status</th>
          <td>
            <%= pkg.getStatus() %> <% if (pkg.getStatus() === 'Delivered') { %>
            ✅ <% } %>
          </td>
        </tr>
      </table>

      <h3>Sender Information</h3>
      <table class="package-details">
        <tr>
          <th>Sender Name</th>
          <td><%= pkg.getSenderName() %></td>
        </tr>
        <tr>
          <th>Sender Address</th>
          <td><%= pkg.getSenderAddress() %></td>
        </tr>
      </table>

      <h3>Receiver Information</h3>
      <table class="package-details">
        <tr>
          <th>Receiver Name</th>
          <td><%= pkg.getReceiverName() %></td>
        </tr>
        <tr>
          <th>Receiver Address</th>
          <td><%= pkg.getReceiverAddress() %></td>
        </tr>
      </table>

      <h3>Cost Breakdown</h3>
      <table class="package-details">
        <tr>
          <th>Weight (kg)</th>
          <td><%= pkg.getWeight() %></td>
        </tr>
        <tr>
          <th>Cost Per Unit Weight</th>
          <td>
            <%= pkg.getCostPerUnitWeight().toLocaleString('en-US', { style:
            'currency', currency: 'USD' }) %>
          </td>
        </tr>
        <tr>
          <th>Flat Fee</th>
          <td>
            <%= pkg.getFlatFee().toLocaleString('en-US', { style: 'currency',
            currency: 'USD' }) %>
          </td>
        </tr>
        <tr>
          <th>Total Cost</th>
          <td>
            <%= pkg.calculateCost().toLocaleString('en-US', { style: 'currency',
            currency: 'USD' }) %>
          </td>
        </tr>
      </table>
    </main>
  </body>
</html>
